/**clearfix**/
*:focus{
	outline: none;
}
.cfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .cfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body{
	background-color: #1959a2;
  color: #fee;
	text-align: center;
}
#weatherContainer{
	width: 1000px;
	margin: 0 auto;
}
.current-weather{
	padding: 15px 0;
}
.weatherBox{
    width: 200px;
    padding: 30px 15px;
    background-color: rgba(0,0,0,0.70);
  margin: 0 3px;
	text-align: center;
}
.weatherBox img{
width: 70px;
display: block;				
margin: 0 auto;
}
.col-left{
	float: left;
}
.current-weather img{
width: 100px;
}
.temp{
font-size: 50px;
margin: 10px;
}
.icon, .celsius{
margin: 10px 0;
}
.tempScale a{
text-decoration: none;
	display: block;
	color: #fff;
	text-align: left;
	font-size: 20px;
}
.containerWrapper{
width: 250px;
margin: 0 auto;
}
