/**clearfix**/
*:focus{
	outline: none;
}
.cfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .cfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body{ 
font-family: 'josefin_sanslight';
background-color: #1959a2;
color: #fee;
text-align: center;
margin: 0 !important;
}
#weatherContainer{
width: 1000px;
margin: 0 auto;
}
.current-weather{
padding: 45px 0 15px;
}
.weatherBox{
width: 200px;
padding: 30px 15px;
background-color: rgba(0,0,0,0.70);
margin: 0 3px;
text-align: center;
}
.weatherBox img{
width: 70px;
display: block;				
margin: 0 auto;
}
.col-left{
float: left;
}
.current-weather img{
width: 100px;
}
.temp{
font-size: 50px;
margin: 10px;
}
.icon{
margin: 10px 0;
}
.celsius{
margin-top: 12px;
}
.tempScale a{
text-decoration: none;
display: block;
color: #aaa;
text-align: left;
font-size: 24px;
}
.containerWrapper{
width: 250px;
margin: 0 auto;
}
.highlighted{
color: #fff !important;
}
@media (max-width: 1020px){
	.weatherBox{
	width: 160px;
	font-size: 14px;
	}
	#weatherContainer{
	width: 800px;
	}
}
@media (max-width: 830px){
	.weatherBox{
	width: 25%;
	margin: 0;
	padding: 20px 0;
	}
	#weatherContainer{
	position: relative;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	min-height: 460px !important;
	}
	.date, .condition{
	display: none;
	}
	.icon img{
	width: 50px;
	}
	.current-weather{
	padding: 0;
	min-height: 328px !important;
	}
	.forecast{
	position: absolute;
	bottom: 0;
	width: 100%;
	}
}
